<div class="sidebar-module">
  <div class="sidebar-module sidebar-module-inset">
   <h4>Elsewhere</h4>
    <ul class="repository-list">
        <li><i class="fa fa-linkedin"></i> <a href="https://www.linkedin.com/in/ed-hughes-2842305">LinkedIn</a></li>
        <li><i class="fa fa-github"></i> <a href="https://github.com/fredmeews/fredmeews.github.io">GitHub</a></li>
    </ul>
  </div>

  <div class="sidebar-module sidebar-module-inset">
  <h4>Of Interest</h4>
  <ul class="repository-list">
        <li><i class="fa fa-bicycle"></i> <a href="http://chasingmailboxes.com/">DC Cycling</a></li>
        <li><i class="fa fa-heart"></i> <a href="http://martinfowler.com/bliki/">Fowler</a></li>
        <li><i class="fa fa-lightbulb-o"></i> <a href="http://tynan.com/">Inspiration</a></li>
        <li><i class="fa fa-spotify"></i> <a href="https://labs.spotify.com/">Spotify engineering</a></li>
        <li><i class="fa fa-users"></i> <a href="http://www.dan-schreiber.com/">Tech Leadership</a></li>
    </ul>
  </div>

</div>
