<div class="sidebar-module">
  <div class="sidebar-module sidebar-module-inset">
   <h4>Elsewhere</h4>
    <ul class="repository-list">
        <li><i class="fa fa-rss"></i> <a href="http://feeds.feedburner.com/EdHughes">RSS</a></li>
        <li><i class="fa fa-envelope"></i> <a href="http://feedburner.google.com/fb/a/mailverify?uri=EdHughes&amp;loc=en_US">Email</a></li>
        <li><i class="fa fa-linkedin"></i> <a href="https://www.linkedin.com/in/ed-hughes-2842305">LinkedIn</a></li>
    </ul>
  </div>
</div>
